body {
  margin: 0;
  padding: 0;  
  color: #7f8c8d;
  display: block;
}

a { text-decoration: none; }

/* Base */
.italic { font-style: italic; }
.active { font-weight: bold;}

.floatLeft { float: left; }
.floatRight { float: right; }

.center { text-align: center; }

.shadow {
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,.16);
}

/* Layout */

.header { 
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
  padding-left: 1em;
}

.content-wrapper {
  margin-top: 70px;
  z-index: 2;
  padding-left: 1em;
  padding-right: 1em;
}

.content { flex: 1; }

.flex-container {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.panel { 
  flex: 1; 
  border: solid 1px;
  padding: 1em;
  margin-right: 1em;
}

.panel:last-child {
  margin-right: 0;
}

.large {flex: 2;}

/* Simple form */

.input {
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.input-element {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  /* display: block; */
  box-sizing: border-box;
}

.input-element:focus {
  outline: none;
  background-color: #ccc;
}

.error {
  border: 1px solid red;
  background-color: #FDA49A;
}

.button {
  cursor: pointer;
  font: inherit;
  padding: 6px;
  margin: 6px;
  font-weight: bold;
  width: 10em;
}

.button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

/* EXTRACT FROM BOOTSTRAP */
/* Definition List */

dl.dl-horizontal {
  margin-bottom: 20px;
  margin-top: 0;
}
dl.dl-horizontal dt {
  clear: left;
  float: left;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
  font-weight: bold;
}
dl.dl-horizontal dd::before,
dl.dl-horizontal dd::after {
  content: " ";
  display: table;
}
dl.dl-horizontal dd::after { clear: both; }
dl.dl-horizontal dd { margin-left: 120px; }

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
